.customers-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-title {
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  color: var(--navyblue);
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
}

.customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--lightslate);
  border-radius: 4px;
  color: var(--lightslate);
  transition: border-color var(--transition-dur) var(--transition-function), color var(--transition-dur) var(--transition-function);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}

.customers-icon {
  fill: currentColor;
}

/* @media screen and (min-width: 1158px) {
  .customers-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-list {

  }
  .customers-item {
    width: calc((100% - 120px) / 6);
  }
} */


@media screen and (min-width: 768px) {
  .customers-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }

  .customers-item {
    width: 168px;
  }
}

@media screen and (min-width: 1158px) {
  .customers-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}